@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap');
:root {
    --primary-color: #384012;
    --secondary-color: #253237;
    --accent1-color: #CFB277;
    --accent2-color: #6DB5D9;

    --heading-font: 'Sedan SC', serif;
    --paragraph-font: Raleway, serif;
 
    --nav-background-color:var(--accent1-color);
    --nav-link-color:var(--secondary-color);
    --nav-hover-link-color:#E1E6E1;
    --nav-hover-background-color:#253237;

}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; 
}
header img {
    padding: 25px;
    grid-column: 1;
    justify-self: center;

}
p {
    padding: 25px;
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
}
nav {
    font-size: .8rem;
    display: flex;
}
nav a {
    text-decoration: none;
    color: var(--nav-link-color);
    padding: 10px 25px;
    border: 1px solid var(--nav-link-color);
    background-color: var(--nav-background-color);
}
nav a:link, nav a:visited {
    color: var(--secondary-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.hero {
    position: relative;
}
.hero img {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
}
.hero h1 {
    position: absolute;
    text-align: center;
    top: 0%;
    width: 100%;
    color: var(--nav-hover-link-color);
    background-color: rgba(37, 50, 55, 0.35);
}
.hero article {
    position: absolute;
    top: 25%;

}
.hero article img {
    width: 250px;
    float: right;
    bottom: 50%;
}
.hero p{
    background-color: rgba(37, 50, 55, .35);
    padding-top: 35px;
    color: var(--nav-hover-link-color);
}
footer img {
    width: 50px;
}
.history {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}
.history h2 {
    grid-column: 2;
    justify-content: center;
}
.history img {
    max-width: 100%;
    height: fit-content;
    grid-column: 2;
}
.his-1 {
    text-align: justify;
    padding: 0 20px;
    grid-column: 1;
}
.his-2 {
    text-align: justify;
    padding: 0 20px;
    grid-column: 3;
}
.adventure {
    text-align: center;
}
.adventure h2 {
    margin-bottom: 20px;
}
.adventure figure {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}
.adventure img {
    max-width: 150px;
    height: auto;
}
footer {
    background-color: var(--accent1-color);
    display: flex;
    justify-content:flex-end;
    align-items: center; 
}
footer p {
    text-align: center;
    padding-right: 100px;
}
footer img {
    width: 50px;
    padding: 10px;
}